body.backdrop {
  background-image: url('../img/background.jpg');
  transition: all 0.9s ease-out 0s;

}

h1 {
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  position:relative;
  margin-bottom: 22px;
  font-size: 53px;
  text-align: center;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

h4, h5 {
  color: #ff00de;
  text-align: center;
  }

label, .meat, .veggies{
  color:#ff00de;
}

.name {
  margin: 0 auto;
}

.logo {
  margin-top: 5px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15px;
}

.main {
  background-color: rgba(246, 246, 246, 0.95);
  max-width: 1170px;
      height: 966px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

input.name:focus {
    outline: none !important;
    border:1px solid #ff00de;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff00de;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: lightgray;
}

::-ms-input-placeholder {
  color: lightgray;
}

.radio {
  margin: 0 auto;
  width:106px;
}

input[name="topping"] {
  margin: 0 auto;
}

.meat {
  max-width: 536px;
}

.modal-backdrop {
  z-index: 1050;
}

#modal {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  display: none;
  width: 350px;
  padding: 30px;
  border: solid 1px #ff00de;
  bottom: 311px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1060;
}


.btn {
  position: relative;
  top: 85px;
  margin-top: 5px;
  text-align: center;
  background: #fff;
  color:#ff00de;
  border: 1px solid #ff00de;
}


.btn:hover{
  color:#ff00de;
  -webkit-animation: button 1.5s ease-in-out infinite alternate;
  -moz-animation: button 1.5s ease-in-out infinite alternate;
  animation: button 1.5s ease-in-out infinite alternate;
}

.easter-egg {
  display:  none;
  margin-left: 0;
  padding-left: 0;
}

.black {
  background-color: black;
  overflow: hidden;
}

#background {
  position: relative;
  width: 167%;
  z-index: 1050;
  bottom: 34px;
}

#video {
  position: relative;
  bottom: 639px;
  left: 818px;
  z-index: 1042;
  max-width: 176px;
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* button animation */

@-webkit-keyframes button {
  from {
  box-shadow: 0 0 2px #ff9df8, 0 0 5px #ff9df8, 0 0 7px #ff9df8, 0 0 10px #ff00de, 0 0 16px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de;
  }
  to {
    box-shadow: 0 0 1px #ff9df8, 0 0 2px #ff9df8, 0 0 3px #ff9df8, 0 0 5px #ff00de, 0 0 8px #ff00de, 0 0 9px #ff00de, 0 0 12px #ff00de, 0 0 16px #ff00de;
  }
}

@-moz-keyframes button {
  from {
  box-shadow: 0 0 2px #ff9df8, 0 0 5px #ff9df8, 0 0 7px #ff9df8, 0 0 10px #ff00de, 0 0 16px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 35px #ff00de;
  }
  to {
    box-shadow: 0 0 1px #ff9df8, 0 0 2px #ff9df8, 0 0 3px #ff9df8, 0 0 5px #ff00de, 0 0 8px #ff00de, 0 0 9px #ff00de, 0 0 12px #ff00de, 0 0 16px #ff00de;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.97px) {

#background {
  left: -175px;
}

#video {
  top: -553px;
  left: 502px;
  width: 154px;
}

@media screen and (min-width: 1200px) and (max-width: 1599.97px) {

#background {
  left: -175px;
}

#video {
  top: -553px;
  left: 502px;
  width: 154px;
}

.col-md-6 {
  padding-left: 39px;
}

.meat {
  padding-left: 75px;
}
}

@media screen and (min-width: 991.97px) and (max-width: 1200px){

.col-md-6 {
  padding-left: 39px;
}
}
